<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('partials/header') %>

<body>
  <%- include('partials/nav') %>
    <div class="item_entry">
      <h3>What do you want to try next?</h3>
      <form class="form-inline" id="add-item-form" action="/items" method="POST">
        <div class="add-form">
          <input id="item-input" type="text" name="item" />
          <button id="add-button">ADD</button>
        </div>
      </form>
    </div>
    <div class="categories">
      <% const categories = [2,1,3,4];
      let category = '';
      for (let i in categories) {
        if (categories[i] === 2) {
          category = 'restaurants';
        }
        if (categories[i] === 1) {
          category = 'movies';
        }
        if (categories[i] === 3) {
          category = 'books';
        }
        if (categories[i] === 4) {
          category = 'products'
        } %>
        <div class="category-box" id="<%= category %>">
        <div class="category-header <%= category %>"><%= category.charAt(0).toUpperCase() + category.slice(1)  %></div>
        <ul class="sortable" id="<%= category %>-list">
          <% let itemsFound = false; %>
          <% for (let item in items) { %>
            <% if (items[item].category_id === categories[i]) { %>
              <% itemsFound = true; %>
              <li class="item">
                <form class="item-form" action="/items/<%= items[item].id %>/delete" method="POST" data-id="<%= items[item].id %>">
                  <button class="item-button"><i class="fa-solid fa-square-check"></i></button>
                  <div class="item-divider">
                    <span>
                      <%= items[item].item_name %>
                    </span>
                    <div><img class="grip" src="/images/gripIcon-01.png"></div>
                  </div>
                </form>
              </li>
              <% } } %>
              <% if (!itemsFound) { %>
                <li id="noItemsMessage">No items found</li>
              <% } %>
        </ul>
        <div class="category-footer <%= category %>">
          <span>more</span><i class="fa-solid fa-caret-down"></i>
        </div>
        <div class="category-footer-open <%= category %> hidden">
          <span>more</span><i class="fa-solid fa-caret-up"></i>
        </div>
      </div>
        <% }; %>

</body>

</html>
